
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrap {
    width: 100%;
}

.connection {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    flex-direction: row;

}

.phone {
    width: 30%;
    padding-left: 15px;
}

.phone a {
    padding-left: 15px;
}


.address {
    display: flex;
    width: 30%;
    padding-left: 75px;
    padding-right: 20px;

}

.address p {
    padding-left: 15px;

}

.social {
    text-align: right;
    justify-content: end;
   position: relative;
   margin-left: 300px;

}
.OurProject {
    width: 100%;
    height: 950px;
    display: flex;
    padding-top: 0px;

    /* background-color: pink; */

}

.ProBack img {
    position: relative;
    width: 100%;
    height: 950px;
    padding-top: 0px;
    z-index: 0;
}

.logo {
    position: absolute;
    top: 80px;
    left: 60px;

}

.HeadList {
    position: absolute;
    top: 110px;
    left: 550px;
    color: white;
    display: flex;
}

.HeadList a {
    color: white;
    padding-right: 30px;
}

.find {
    position: absolute;
    top: 95px;
    right: 50px;
}

.Bigtitle {
    position: absolute;
    color: white;
    top: 425px;
    left: 15%;
    text-align: center;

}
.Bigtitle h1{
    font-size: 72px;
}

.ServicesContainer {
    width: 100%;
    height: 640px;
    /* margin: 0px auto; */
    text-align: center;

}


.ServicesTitle {
    position: relative;
    height: 41px;
    margin-top: 147px;
    text-align: center;
    /* background-color: brown; */

}

.ServicesTitle::before {
    content: '';
    width: 66px;
    height: 1px;
    border-top: 2px solid #0bf;
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    margin: auto;
}

.ServicesContainerTOP {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: aqua; */

}

.building {
    width: 421.66px;
    height: 271px;
}



.buildingwap {
    width: 350px;
    height: 213px;
    align-items: flex-start;
    text-align: left;
    display: flex;
    margin: auto;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 0;
}

.buildingtxt {

    width: 300px;
    height: 213px;
    flex-wrap: wrap;
    text-align: start;
    padding-top: 0px;
    margin: 20px;
    text-align: left;
}

.buildingtxt h2 {
    height: 56px;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.buildingtxt p {
    width: 300px;
    height: 120px;
    display: block;
    color: #888888;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-top: 20px;
}

.cons {
    width: 421.66px;
    height: 271px;
    margin-left: 10px;
}



.conswap {
    width: 350px;
    height: 213px;
    align-items: flex-start;
    text-align: left;
    display: flex;
    margin: auto;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 10px;
}

.constxt {
    width: 300px;
    height: 213px;
    flex-wrap: wrap;
    text-align: start;
    padding-top: 0px;
    margin: 20px;
    text-align: left;
}

.constxt h2 {
    height: 56px;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.constxt p {
    width: 300px;
    height: 120px;
    display: block;
    color: #888888;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-top: 20px;
}


.PRE {
    width: 421.66px;
    height: 271px;
}



.PREwap {
    width: 350px;
    height: 213px;
    align-items: flex-start;
    text-align: left;
    display: flex;
    margin: auto;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 0;
}

.PREtxt {
    width: 300px;
    height: 213px;
    flex-wrap: wrap;
    text-align: start;
    padding-top: 10px;
    margin: 20px;
    text-align: left;
}

.PREtxt h2 {
    height: 56px;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.PREtxt p {
    width: 300px;
    height: 120px;
    display: block;
    color: #888888;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-top: 20px;
}

.ServicesContainerFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.desing {
    width: 421.66px;
    height: 271px;


}

.desingwap {
    width: 350px;
    height: 213px;
    align-items: flex-start;
    text-align: left;
    display: flex;
    margin: auto;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 0;
}

.desingtxt {
    width: 300px;
    height: 213px;
    flex-wrap: wrap;
    text-align: start;
    padding-top: 10px;
    margin: 20px;
    text-align: left;
}

.desingtxt h2 {
    height: 56px;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.desingtxt p {
    width: 300px;
    height: 120px;
    display: block;
    color: #888888;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-top: 20px;
}

.conm {
    width: 421.66px;
    height: 271px;
}

.conmwap {
    width: 350px;
    height: 213px;
    align-items: flex-start;
    text-align: left;
    display: flex;
    margin: auto;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 0;
}

.conmtxt {
    width: 300px;
    height: 213px;
    flex-wrap: wrap;
    text-align: start;
    padding-top: 10px;
    margin: 20px;
    text-align: left;
}

.conm h2 {
    height: 56px;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.conmtxt p {
    width: 300px;
    height: 120px;
    display: block;
    color: #888888;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-top: 20px;
}

.general {
    width: 421.66px;
    height: 271px;
}

.generalwap {
    width: 350px;
    height: 213px;
    align-items: flex-start;
    text-align: left;
    display: flex;
    margin: auto;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 0;
}

.generaltxt {
    width: 300px;
    height: 213px;
    flex-wrap: wrap;
    text-align: start;
    padding-top: 10px;
    margin: 20px;
    text-align: left;
}

.general h2 {
    height: 56px;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.generaltxt p {
    width: 300px;
    height: 120px;
    display: block;
    color: #888888;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-top: 20px;
}

.HistoryContainer {
    width: 100%;
    height: 679px;
    background-color:#F6F6F7;
    display: flex;
    flex-direction: row;

}



.HistoryWap h1::before {
    content: '';
    border-top: 2px solid #0bf;
    position: absolute;
    top: 7%;
    right: 85%;
    left: 5%;
    margin: auto;
}

.HistoryWap {
    padding-top: 75px;
    padding-left: 35px;
    padding-right: 35px;
    width: 50%;
    position: relative;
}

.HistoryWap h3 {
    position: relative;
    width: 100%;
    margin-top: 50px;

}

.HistoryWap p {
    position: relative;
    width: 100%;
    margin-top: 25px;
color:gray;
}

.HistoryPic {
    width: 50%;
}

.HistoryPic img {
    width: 100%;
    margin-top: 75px;

}
.HistoryWap  a{
    color: white; 
}

.HistoryWap button {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    position: relative;
    margin-left: 200px;
    border: none;
            }

.BuildingProject {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.BuildingProjectContainer {
    display: flex;
    flex-wrap: wrap;

}

.commercial {
    width: 25%;
    position: relative;
    text-align: center;
}

.commercial img {
    width: 100%;
    height: 358px;
    object-fit: cover;

}


.commercial h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.cultural {
    width: 25%;
    position: relative;
    text-align: center;
}

.cultural img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}


.cultural h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;

}

.data {
    width: 25%;
    position: relative;
    text-align: center;
}

.data img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}


.data h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.educational {
    width: 25%;
    position: relative;
    text-align: center;
}

.educational img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}


.educational h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.government {
    width: 25%;
    position: relative;
    text-align: center;
}

.government img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}

.government h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.healthcare {
    width: 25%;
    position: relative;
    text-align: center;

}

.healthcare img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}

.healthcare h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.manufacturing {
    width: 25%;
    position: relative;
    text-align: center;

}

.manufacturing img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}

.manufacturing h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.warehouse {

    width: 25%;
    position: relative;
    text-align: center;
}

.warehouse img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}

.warehouse h2 {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.RecentnewsCantainer {
    width: 100%;
}

.newstitle {
    text-align: center;
    text-transform: uppercase;
    margin-top: 62px;
    margin-bottom: 45px;
    font-weight: 900;
    position: relative;
}



.newstitle h2::before {
    content: '';
    width: 66px;
    height: 1px;
    border-top: 2px solid #0bf;
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    margin: auto;

}

.allnewsitem {
    display: flex;
    width: 100%;
    justify-content: center;
}

.newsitem1 {
    width: 30%;
    padding: 0 1.5%;
    margin-bottom: 50px;
}


.newsitem1 img {
    width: 100%;
}

.newsitem1 h3 {
    color: #000;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bigdate{display: flex;}


.newsitem1 .date1 p {
    font-size: 14px;
    font-weight: 200;
    color: #aaa;


}

.newsitem1 .date2 {
    width: 116px;
    display: flex;
    justify-content: flex-end;
    height: 34px;
    align-content: center;
}

.newsitem1 .date2 P {
    font-size: 14px;
    font-weight: 200;
    color: #aaa;
}

.newsitem1 p {
    font-weight: 400;
    color: #aaa;
}

.newsitem2 {
    width: 30%;
    padding: 0 1.5%;
    margin-bottom: 50px;
}


.newsitem2 img {
    width: 100%;
}

.newsitem2 h3 {
    color: #000;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.newsitem2 .date1 p {
    font-size: 14px;
    font-weight: 200;
    color: #aaa;

}

.newsitem2 .date2 {
    width: 116px;
    display: flex;
    justify-content: flex-end;
    height: 34px;
    align-content: center;
}

.newsitem2 .date2 P {
    font-size: 14px;
    font-weight: 200;
    color: #aaa;
}

.newsitem2 p {
    font-weight: 400;
    color: #aaa;
}


.newsitem3 {
    width: 30%;
    padding: 0 1.5%;
    margin-bottom: 50px;
}


.newsitem3 img {
    width: 100%;
}

.newsitem3 h3 {
    color: #000;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.newsitem3 .date1 p {
    font-size: 14px;
    font-weight: 200;
    color: #aaa;

}

.newsitem3 .date2 {
    width: 116px;
    display: flex;
    justify-content: flex-end;
    height: 34px;
    align-content: center;
}

.newsitem3 .date2 P {
    font-size: 14px;
    font-weight: 200;
    color: #aaa;
}

.newsitem3 p {
    font-weight: 400;
    color: #aaa;
}

.newsbutton {
    display: flex;
    justify-content: center;
    margin:0 0 50px 0 ;
}
.newsbutton a{
    border: none;
    color: whitesmoke;
}

.newsbutton button {
    width: 180px;
    height: 58px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #0bf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline:none;
}

.footter {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #333333;
    justify-content: center;
}
.footter a{color:#2ac5f4;}
.Introduction {
    width: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.Introduction p {
    width: 288px;
    color: #fff;
}

.NAVIGATION {
    width: 20%;
    padding-top: 13%;
    padding-bottom: 10%;
    padding-left: 100px;
}

.NAVIGATION h3 {
    color: #fff;
    margin: 0 0 30px;
}
.NAVIGATION li{

    margin: 0 0 10px;
}

.RECENT {
    width: 20%;
    padding-top: 13%;
    padding-bottom: 10%;
    margin: 0 30px;
}

.RECENT h3,
p {
    color: #fff;
    margin: 0 0 30px;
}

.CONTACTS {
    width: 20%;
    padding-top: 13%;
    padding-bottom: 10%;
}
.CONTACTS h3{
    color: white;
    margin: 0 0 30px;
}

.footterwap {
    width: 100%;
    height: 53px;
    background-color: #000;
    display:inline-block;
    display: flex;
   
}
.footter-r{
    display: flex;
    line-height:25px;
    margin-left: 10px;
}

.footterwap p {
    line-height:25px;
    display: inline-block;
    
}

.footterwappic {
    text-align: right;
    justify-content: end;
   position: relative;
   margin-left: 61%;
  
}
